.svg-triangle {
    stroke: var(--sky-light);
    stroke-width: 8px;
    fill: var(--sky-light);
    transition: all 1.5s ease-in-out;
    opacity: 0.8;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#bernesLee {
    float: right;
    border: 5px solid var(--sky);
    border-radius: 5px;
    margin: 15px;
}

#bernesLee>img {
    min-width: 176px;
    width:20vw;
}

#bernesLee>p {
    margin: 0;
    padding: 5px;
    background-color: var(--sky-light);
    font-size: 24px;
    color: white;
    text-align: center;
    clear:both
}

#transmission {
    padding: 100px 0 10px 0;
    display: flex;
}

#transmission>div {
    display: flex;
    flex-direction: column;
}

#transmission>div>p {
    color: var(--sky-select);
    font-size: 46px;
    text-align: center;
    margin: 10px;
}

#transmission:hover #svg-triangle1 {
    transform: translate(calc(0.8*var(--arrow_dist)), 0px);
}

#transmission:hover #svg-triangle2 {
    transform: translate(calc(0.9*var(--arrow_dist)), 0px);
}

#transmission:hover #svg-triangle3 {
    transform: translate(var(--arrow_dist), 0px);
}

#unsafeSvg {
    opacity: 0;
    transition: opacity 2s;
}

#transmission:hover #unsafeSvg {
    opacity: 1;
}

.img-computer {
    height: 150px;
    width: auto;
}

@media only screen and (max-width: 940px) {
    #transmission {
        display: none;
    }
}