:root {
--arrow_dist : 10px;
--sky-select: rgb(0, 64, 108);
--sky: rgb(0, 84, 139);
--sky-light: rgb(0, 100, 170);
}
body {
  margin: 0;
  background: white;
  background: linear-gradient(90deg, white 0%, #b3b3b3 33%, #b3b3b3 33%, white 100%);
}
.flex {
  display: flex;
}
#wrapper {
  overflow: auto;
  background: white;
  width: 80%;
  min-height: 1000px;
  margin: auto;
  padding: 25px;
}
body > * {
  font-family: "Inter", sans-serif;
}
ul {
  font-size: 20px;
}
p,a {
  font-size: 20px;
  margin: 15px 0 15px 0;
}
.moveRight {
  margin-left: 15px !important;
}
.text-center {
  text-align: center;
}
h1.text-center {
  font-size: 2.9em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.7em;
}

#headline {
  font-family: Praise, arial;
  font-size: 130px;
  text-align: center;
  margin: 20px;
}