:root {
--arrow_dist : 10px;
--sky-select: rgb(0, 64, 108);
--sky: rgb(0, 84, 139);
--sky-light: rgb(0, 100, 170);
}
body {
  margin: 0;
  background: white;
  background: linear-gradient(90deg, white 0%, #b3b3b3 33%, #b3b3b3 33%, white 100%);
}
.flex {
  display: flex;
}
#wrapper {
  overflow: auto;
  background: white;
  width: 80%;
  margin: auto;
  height: 2000px;
}
body > * {
  font-family: "Inter", sans-serif;
}
ul {
  font-size: 20px;
}
p,a {
  font-size: 20px;
  margin: 15px;
}
#navbarBanner {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
#navbarBanner > img {
  object-fit: contain;
  filter: blur(2.5px);
  width: 100vw;
  transition: filter ease-in-out 0.6s;
}
#navbarBanner:hover > img {
  filter: none;
}
#navbarBanner > div {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(40% - 7vw);
  text-align: center;
  vertical-align: middle;
  height: inherit;
  width: 100%;
}
#navbarBanner > div > h1 {
  font-family: "Praise", sans-serif;
  font-size: 7vw;
  color: black;
  user-select: none;
}
