a.navbarLink {
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 10px;
}

#navbar>ul {
    display: inline;
    margin: 0;
    padding: 0;
}

#navbar>ul li {
    display: inline-block;
}

#navbar>ul li:hover {
    background: var(--bg-slate-700);
}

#navbar>ul li:hover ul {
    display: block;
}

#navbar>ul li ul {
    position: absolute;
    padding: 0px;
    display: none;
}

#navbar>ul li ul li {
    background: var(--bg-slate-700);
    display: block;
}

#navbar>ul li ul li a {
    width: inherit;
    display: block !important;
    margin: 0px;
    min-width: 100px;
}

#navbar>ul li ul li:hover {
    background: var(--bg-slate-800);
}

#navbar {
    background-color: var(--bg-slate-900);
    border-bottom: 1px solid var(--bg-slate-700);
    box-shadow: none;
    display: flex;
    transition: box-shadow 0.15s ease-in;
}

.sticky {
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px !important;
    width: 100%;
    position: fixed;
    transition: box-shadow 0.3s;
}