a.navbarLink {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
    margin: 0px;
    font-weight: 420;
}
a.navbarLink:hover {
    color: #b9b9b9;
}

#navbar>ul {
    display: inline;
    margin: 0;
    padding: 0;
}

#navbar>ul li {
    display: inline-block;
}

#navbar>ul li:hover {
    background: var(--sky-select);
}

#navbar>ul li:hover ul {
    display: block;
}

#navbar>ul li ul {
    position: absolute;
    padding: 0px;
    display: none;
}

#navbar>ul li ul li {
    background: var(--sky);
    display: block;
}

#navbar>ul li ul li a {
    width: inherit;
    display: block !important;
    margin: 0px;
    min-width: 100px;
}

#navbar>ul li ul li:hover {
    background: var(--sky-select);
}

#navbar {
    z-index: 1;
    overflow:hidden;
    background-color: var(--sky);
    box-shadow: none;
    display: flex;
    transition: box-shadow 0.15s ease-in;
}

#navbarPlaceholder {
    z-index: 2;
}

.sticky {
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px !important;
    width: 100%;
    position: fixed;
    transition: box-shadow 0.3s;
}