#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.result {
    width: auto;
    padding: 22px;
    border-radius: 8px;
    margin: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

.result>p {
    margin: 0px;
}

h1 {
    font-size: 2em !important;
}

h2 {
    font-size: 1em;
}

.searchResultHeadline {
    margin-top: 0;
    margin-bottom: 15px;
}

.searchResultHeadline:hover {
    cursor: pointer;
}

.searchContinue {
    background-color: var(--sky-lighter);
    border: solid 0px var(--sky-light);
    border-radius: 4px;
    padding: 6px;
    text-decoration: none;
    margin: auto 0 auto 0;
    color: white;
}

.searchScore {
    margin: auto 8px auto auto;
    height: auto;
    font-size: 1.5em;
}

.searchProgress {
    margin: auto 8px auto 8px;
    width: 120px;
    height: 20px;
    -webkit-appearance: none;
    border: 3px solid darkgray;
    border-radius: 5px;
    overflow: hidden;
}
::-webkit-progress-value {
    background-image: linear-gradient(45deg, #5bc0de 25%, #70d6f5 25%, #70d6f5 50%, #5bc0de 50%, #5bc0de 75%, #70d6f5 75%, #70d6f5 100%);
    background-size: 15.00px 15.00px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
::-webkit-progress-bar {
    background-color: white;
}
::-moz-progress-bar {
    background-color: white;
}