#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.result {
    width: auto;
    padding: 22px;
    border-radius: 8px;
    margin: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

.result>p {
    margin: 0px;
}

h1 {
    font-size: 2em !important;
}

h2 {
    font-size: 1em;
}

.searchResultHeadline {
    margin-top: 0;
    margin-bottom: 15px;
}

.searchResultHeadline:hover {
    cursor: pointer;
}

.searchContinue {
    background-color: var(--sky-lighter);
    border: solid 0px var(--sky-light);
    border-radius: 4px;
    padding: 6px;
    text-decoration: none;
    margin: auto 0 auto 0;
    color: white;
}

.searchScore {
    margin: auto 8px auto auto;
    height: auto;
    font-size: 1.5em;
}

.searchProgress {
    margin: auto 8px auto 8px;
    width: 100px;
    height: 25px;
}